@model gradecardmvc.Models.TeacherTable

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
    h1,form{
        font-family: 'Times new roman';
        color:white;
        font-weight:bold;

    }
    body{
        background-image: url("/image/background4.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    a{
        color:white;
    }
    
</style>
@{
    ViewData["Title"] = "Login";
}
<center>
<h1 class="display-4">Faculty Login</h1>

<hr />

<div class="container">
    <div>
        <center>
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <label asp-for="Id" class="control-label" ></label>
                <input asp-for="Id" class="form-control" placeholder="Enter Faculty ID"/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            </div>
            <div class="form-group">
            <div class="col-xs-4">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" placeholder="Enter Faculty Password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
                <br><br>
            </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                <input type="submit" value="Login" class="btn btn-warning" />
            </div>
            </div>
            
        </form>
        
    </div>
</div>

</center>
<div>
    <a asp-controller="Home" asp-action="Index">Back to Main Site</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
