@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <img src="~/image/flight4.jpg" alt="flight" width="600" height="300">
    <h1 class="display-4" style="color:grey">AirFlight Reservation System</h1>
    
<p>
   <button class="btn btn-info"> <a asp-controller="Customer" asp-action="Registeration" style="color:white;">Customer Panel</a> </button>
   <button class="btn btn-warning"> <a asp-controller="Admin" asp-action="Index" style="color:white;">Admin Panel</a> </button>
</p>
</div>
