@{
    ViewData["Title"] = "Home Page";
    ViewData["comp_name"]= "Fareportal";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>This is the home page for @ViewData["comp_name"]</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
