@model airflight.Models.FlightDetail

@{
    ViewData["Title"] = "Create";
    Layout="/Views/Admin/layout.cshtml";
}

<h3>Add a Flight </h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateFlight">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Flightid" class="control-label"></label>
                <input asp-for="Flightid" class="form-control" placeholder="Enter Flight ID"/>
                <span asp-validation-for="Flightid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flightname" class="control-label"></label>
                <input asp-for="Flightname" class="form-control" placeholder="Enter Flight Name" />
                <span asp-validation-for="Flightname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Source" class="control-label"></label>
                <input asp-for="Source" class="form-control" placeholder="Enter Flight Source" />
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination" class="control-label"></label>
                <input asp-for="Destination" class="form-control" placeholder="Enter Flight Destination" />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departuretime" class="control-label"></label>
                <input asp-for="Departuretime" class="form-control" />
                <span asp-validation-for="Departuretime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arrivaltime" class="control-label"></label>
                <input asp-for="Arrivaltime" class="form-control" />
                <span asp-validation-for="Arrivaltime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Totalcapacity" class="control-label"></label>
                <input asp-for="Totalcapacity" class="form-control" placeholder="Enter Flight Capacity"/>
                <span asp-validation-for="Totalcapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Costperseat" class="control-label"></label>
                <input asp-for="Costperseat" class="form-control" placeholder="Enter Flight Cost per seat" />
                <span asp-validation-for="Costperseat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="getallFlight">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
